<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/frontend/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- Ссылки теперь ведут на маршруты Flask, а не на файлы -->
                <li><a href="/">Главная</a></li>
                <li><a href="/to-authors">Авторам</a></li>
                <li><a href="/catalog">Каталог книг</a></li>
                <li><a href="/about">О издательстве</a></li> 
                <li><a href="/blog">Блог</a></li>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/login">Вход</a></li>
                <li><a href="/register">Регистрация</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
    </main>

    <script src="/frontend/js/main.js"></script>
    <footer></footer>
</body>
</html>
